<%= form_with model: user, html: {multipart: true}, class: 'col-4 form-settings' do |form| %>

<% unless current_user.nil? || current_user == user %>
  <p class="text-danger"> Нельзя редактировать профиль другого пользователя! </p>
<% else %>

<% user.add_default_avatar %>

  <% unless user.new_record? %>
    <div class="form-group pb-3">
        <%= image_tag user.avatar.variant(resize: "300x300!").processed if user.avatar.attached? %>
    </div>

    <div class="form-group pb-3 d-flex">
      <%= form.file_field :avatar, direct_upload: true, accept: 'image/*', class: 'form-control'%>
    </div>
  <% end %>

  <div class="form-group pb-3 pt-10">
    <%= form.text_field :username, placeholder: t('.username'), class: 'form-control', required: true%>
  </div>

  <div class="form-group pb-3">
    <%= form.email_field :email, placeholder: 'name@example.com', class: 'form-control', required: true%>
  </div>

  <div class="form-group pb-3">
  <% if user.new_record? %>
    <%= form.password_field :password, placeholder: t('.password'), class: 'form-control', required: true%>
  <% else %>
    <%= form.password_field :password, placeholder: t('.password'), class: 'form-control' %>
  <% end %>
  </div>

  <div class="form-group pb-3">
    <%= form.password_field :password_confirmation, placeholder: t('.password_confirmation'), class: 'form-control' %>
  </div>

  <% unless user.new_record? %>
    <div class="form-group pb-3">
      <%= form.password_field :old_password, placeholder: t('.old_password'), class: 'form-control' %>
    </div>
  <% end %>

  <div class="d-flex m-auto">
    <div class="form-group form-button">
        <%= form.submit (user.new_record? ? t('global.buttons.register') : t('global.buttons.save')), class: 'btn btn-primary', id: 'submit-btn' %>
    </div>

    <% unless user.new_record? %>
      <%= link_to t('global.buttons.cancel'), user_path(user), class: 'btn btn-outline-danger ms-3' %>
    <% end %>
  </div>

  <% end %>
<% end %>
