<% provide :page_title, 'Пользователи' %>
<% currently_at 'Пользователи' %>

<h1>Пользователи</h1><br/>

<table class="w-100">
  <thead>
    <tr class="row">
      <th class="col-2">Имя пользователя</th>
      <th class="col-4">Хэшированный пароль</th>    <%# для того, чтобы убедиться, что пароль нельзя украсть %>
      <th class="col-2">Последний вход на сайт</th>
      <th class="col-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="row">
        <td class="col-2"><%= user.username %></td>
        <td class="col-4"><%= truncate user.password_digest, length: 45 %></td>
        <td class="col-2">
        <% if @online_users&.index(user) %>
          <span class="badge badge-pill alert-success">Online</span>
        <% else %>
          <% if user.last_login_at > 8.hours.ago %>
            <%= user.last_login_at.nil? ? "Never signed in" : time_ago_in_words(user.last_login_at) %> ago
          <% else %>
            <time datetime="<%= user.last_login_at unless user.last_login_at.nil? %>">
              <%= user.formated_last_login_at %>
            </time>
          <% end %>
        <% end %>
        </td>
        <td class="col-1"><%= link_to 'Посмотреть', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button onClick='location.href="/users/new"' type="button" class="btn btn-outline-primary me-2">Зарегистрировать пользователя</button>
<%# link_to 'Зарегистрировать пользователя', new_user_path %>
