<% provide :page_title, t('menu.users') %>
<% currently_at t('.title') %>

<h1><%= t('.title') %></h1><br/>

<table class="w-100">
  <thead>
    <tr class="row">
      <th class="col-2"><%= t('.username') %></th>
      <th class="col-2"><%= t('.last_login_at') %></th>
      <th class="col-1"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class="row">
        <td class="col-2"><%= user.username %></td>
        <td class="col-2">
        <% if @online_users&.index(user) %>
          <span class="badge badge-pill alert-success">Online</span>
        <% else %>
          <% if user.last_login_at > 8.hours.ago %>
            <%= user.last_login_at.nil? ? "Never signed in" : time_ago_in_words(user.last_login_at) %> <%= t('.ago') %>
          <% else %>
            <time datetime="<%= user.last_login_at unless user.last_login_at.nil? %>">
              <%= l user.last_login_at, format: :long %>
            </time>
          <% end %>
        <% end %>
        </td>
        <td class="col-1"><%= link_to t('global.buttons.visit'), user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%# <button onClick='location.href="/users/new"' type="button" class="btn btn-outline-primary me-2">Зарегистрировать пользователя</button> %>
