<% provide :page_title, @user.username %>
<% currently_at @user.username %>

<p id="notice"><%= notice %></p>

<div class="user-page">

  <div class="user-info">
    <div class="user-title">
      <h1><%= @user.username %></h1>
    </div>

    <div class="user-avatar">
      <%# image_tag @user.avatar.variant(resize: "100x100!").processed %>
      <%# @user.add_default_avatar %>
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(resize: "300x300!").processed  %>
      <% else %>
        <%= image_tag '/home/rozeqz/Рабочий стол/my_projects/project/app/assets/images/default_avatar.png'  %>
      <% end %>
    </div>

    <div class="user-typed-info">
      <div class="info-item">
        <strong><%= t('.email') %></strong>
        <%= @user.email %>
      </div>

      <div class="info-item">
        <strong><%= t('.registrated') %></strong>
        <time datetime="<%= @user.created_at %>">
          <%= l @user.created_at, format: :long %>
        </time>
      </div>

      <div class="info-item">
        <strong><%= t('.online') %></strong>
        <% if @online_users&.index(@user) %>
          <span class="badge alert-success">Online</span>
        <% else %>
          <% if @user.last_login_at > 8.hours.ago %>
            <%= @user.last_login_at.nil? ? "Never signed in" : time_ago_in_words(@user.last_login_at) %> ago
          <% else %>
            <time datetime="<%= @user.last_login_at unless @user.last_login_at.nil? %>">
              <%= l @user.last_login_at, format: :long %>
            </time>
          <% end %>
        <% end %> 
      </div>
    </div>

    <% if current_user == @user %>
      <div class="user-buttons">
        <%= link_to t('global.buttons.edit'), edit_user_path(@user), class: "btn btn-outline-primary me-3" %>
        <%= link_to t('.delete_account'), @user, class: "btn btn-outline-danger me-2", method: :delete, data: { confirm: 'Вы уверены?' } %>
      </div>
    <% end %>
  </div>

  <div class="user-songs">
  <h1><%= t('.posts.title') %></h1>
    <div class="user-posts-count"><%= t('.published') %><%= I18n.t('users.show.posts', count: @user.posts.count) %></div>
    <% @user.posts.each do |post| %>
      <div class="post-container" id="post-<%= post.id %>">
        <div class="post-header d-flex">
          <% if current_user == @user %>
            <div class="post-buttons">
              <div class="post-button"><%= link_to t('global.buttons.edit'), edit_post_path(post), class: 'btn btn-success btn-sm' %></div>
              <div class="post-button" id="destroy-post"><%= link_to t('global.buttons.delete'), post, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: t('global.confirmation') }, remote: true %></div>
            </div>
          <% end %> 
        </div>
        <div class="audio-container song-<%= post.id %>">
          <div class="track-header">
            <div class="track-name"> <%= post.title %> </div>
            <div class="track-options">
              <div class="like-section">
                <div class="like-item"><%= render "posts/votes_score", post: post %></div>
                <div class="like-item"><%= render "posts/upvote_link", post: post %></div>
              </div>
            </div>
          </div>
          <div class="audio">
            <audio controls class="music-bar">
              <source src="<%= rails_blob_url(post.music) %>" type="<%= post.music.content_type %>" >
            </audio>
          </div>
        </div>
        <% unless post.lyrics.empty? %>
          <div class="accordion accordion-flush" id="accordionFlush">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-heading<%= post.id %>">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= post.id %>" aria-expanded="true" aria-controls="flush-collapse<%= post.id %>">
                  <%= t('.lyrics') %>
                </button>
              </h2>
              <div id="flush-collapse<%= post.id %>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%= post.id %>">
                <div class="accordion-body"><pre><%= post.lyrics %></pre></div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
