<% provide :page_title, @user.username %>
<% currently_at @user.username %>

<p id="notice"><%= notice %></p>

<div class="user-page">

  <div class="user-info">
    <div class="user-title">
      <h1><%= @user.username %></h1>
    </div>

    <div class="user-avatar">
      <%# image_tag @user.avatar.variant(resize: "100x100!").processed %>
      <% @user.add_default_avatar %>
      <% if @user.avatar.attached? %>
        <%= image_tag @user.avatar.variant(resize: "300x300!").processed %>
      <% else %>
        <%# <%= image_tag '../../assets/images/default_avatar.jpg' %> %>
      <% end %>
    </div>

    <div class="user-typed-info">
      <div class="info-item">
        <strong>Email:</strong>
        <%= @user.email %>
      </div>

      <div class="info-item">
        <strong>Account registrated:</strong>
        <time datetime="<%= @user.formatted_created_at %>">
          <%= @user.formatted_created_at %>
        </time>
      </div>

      <div class="info-item">
        <strong>Last online:</strong>
        <% if @online_users&.index(@user) %>
          <span class="badge alert-success">Online</span>
        <% else %>
          <% if @user.last_login_at > 8.hours.ago %>
            <%= @user.last_login_at.nil? ? "Never signed in" : time_ago_in_words(@user.last_login_at) %> ago
          <% else %>
            <time datetime="<%= @user.last_login_at unless @user.last_login_at.nil? %>">
              <%= @user.formated_last_login_at %>
            </time>
          <% end %>
        <% end %>
      </div>
    </div>

    <% if current_user == @user %>
      <div class="user-buttons">
        <%= link_to 'Edit', edit_user_path(@user), class: "btn btn-outline-primary me-3" %>
        <%= link_to 'Delete account', @user, class: "btn btn-outline-danger me-2", method: :delete, data: { confirm: 'Вы уверены?' } %>
      </div>
    <% end %>
  </div>

  <div class="user-songs">
  <h1> Публикации </h1><br/>
    <div class="user-posts-count">Published: <%= pluralize( @user.posts.count, 'track', plural: 'tracks', locale: :en ) %></div>
    <% @user.posts.each do |post| %>
      <div class="song" onClick="">
        <p class="title"><%= post.title %></p>
        <div class="lyrics"><%= post.lyrics %></div>
        <% if current_user == @user %>
          <div class="song-buttons">
            <%= link_to 'Edit', edit_post_path(post) %>
            <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Вы уверены?' } %>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>