<% provide :page_title, @user.username %>
<% currently_at @user.username %>

<style>
  .user-buttons{
    margin-top: 40px;
  }
</style>

<p id="notice"><%= notice %></p>

<h1><%= @user.username %></h1><br/>

<p>
  <strong>Имя пользователя:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Электронная почта:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Пользователь зарегистрирован:</strong>
  <time datetime="<%= @user.formatted_created_at %>">
    <%= @user.formatted_created_at %>
  </time>
</p>

<p>
  <strong>Последний вход на сайт:</strong>
  <% if @online_users&.index(@user) %>
    <span class="badge alert-success">Online</span>
  <% else %>
    <% if @user.last_login_at > 8.hours.ago %>
      <%= @user.last_login_at.nil? ? "Never signed in" : time_ago_in_words(@user.last_login_at) %> ago
    <% else %>
      <time datetime="<%= @user.last_login_at unless @user.last_login_at.nil? %>">
        <%= @user.formated_last_login_at %>
      </time>
    <% end %>
  <% end %>
</p>

<% if current_user == @user %>
  <div class="user-buttons">
    <%= link_to 'Редактировать', edit_user_path(@user), class: "btn btn-outline-primary me-3" %>
    <%= link_to 'Удалить аккаунт', @user, class: "btn btn-outline-danger me-2", method: :delete, data: { confirm: 'Вы уверены?' } %>
  </div>
<% end %>
