<%= form_with model: post, html: {multipart: true}, class: 'col-4 form-settings' do |form| %>

  <div class="form-group pb-3">
    <%= form.label :title %>
    <%= form.text_field :title, placeholder: t('.song_title'), class: 'form-control', id: 'title', required: true %>
  </div>

  <div class="form-group pb-3">
    <%= form.label :lyrics %>
    <%= form.text_area :lyrics, placeholder: t('.lyrics'), class: 'form-control', id: 'lyrics', rows: '18' %>
  </div>

  <div class="form-group pb-3">
    <%= form.file_field :music, id: 'file', accept: ".mp3,audio/*", class: 'form-control' %>
  </div>

  <div class="form-group pb-3 mt-3 form-button">
    <%= form.submit (post.new_record? ? t('global.buttons.post') : t('global.buttons.save')), id: 'submit-btn', class: 'btn btn-primary' %>
  </div>
  
<% end %>

<%= link_to t('global.buttons.cancel'), posts_path, class: 'btn btn-outline-danger' %>