<% provide :page_title, t('.title') %>
<% currently_at t('menu.home') %>

<h1><%= t('.feed') %></h1>

<% @posts.each do |post| %>
  <div class="post-container" id="post-<%= post.id %>">
    <div class="post-header d-flex">
      <div><strong><a href="<%= user_path(post.user.id) %>" class="user-link" ><%= post.user.username %></a></strong></div>
      <% if post.user_id == current_user&.id %>
        <div class="post-buttons">
          <div class="post-button"><%= link_to t('global.buttons.edit'), edit_post_path(post), class: 'btn btn-success btn-sm' %></div>
          <div class="post-button"><%= link_to t('global.buttons.delete'), post, class: 'btn btn-danger btn-sm', method: :delete, data: { confirm: t('global.confirmation') } %></div>
        </div>
      <% end %> 
    </div>
    <div class="audio-container song-<%= post.id %>">
      <div class="track-header">
        <div class="track-name"> <%= post.title %> </div>
        <div class="like-section">
          <div class="like-item"><%= render "posts/votes_score", post: post %></div>
          <div class="like-item"><%= render "posts/upvote_link", post: post %></div>
        </div>
      </div>
      <div class="audio">
        <audio controls class="music-bar">
          <source src="<%= rails_blob_url(post.music) %>" type="<%= post.music.content_type %>" >
        </audio>
      </div>
    </div>
    <% unless post.lyrics.empty? %>
      <div class="accordion accordion-flush" id="accordionFlush">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-heading<%= post.id %>">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= post.id %>" aria-expanded="true" aria-controls="flush-collapse<%= post.id %>">
              <%= t('.lyrics') %>
            </button>
          </h2>
          <div id="flush-collapse<%= post.id %>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%= post.id %>">
            <div class="accordion-body"><pre><%= post.lyrics %></pre></div>
          </div>
        </div>
      </div>
    <% end %>
    <hr/>
  </div>
<% end %>
