<% provide :page_title, 'Лента' %>
<% currently_at 'Главная' %>

<% if user_signed_in? %>

  <h1>Posts</h1>

  <% @posts.each do |post| %>
    <div class="post-container" id="post-<%= post.id %>">
      <p><strong><%= post.user.username %></strong> published: </p>
      <% if post.user_id == current_user.id %>
        <div class="post-buttons">
          <div class="post-button"><%= link_to 'Show', post, class: 'btn btn-primary'%></div>
          <div class="post-button"><%= link_to 'Edit', edit_post_path(post), class: 'btn btn-success' %></div>
          <div class="post-button"><%= link_to 'Destroy', post, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></div>
        </div>
      <% end %>
      <div class="audio-container">
        <div class="track-name"> <%= post.title %> </div>
        <div class="audio">
          <audio controls class="music-bar">
            <source src="<%= rails_blob_url(post.music) %>" type="<%= post.music.content_type %>" >
          </audio>
        </div>
      </div>
      <% unless post.lyrics.empty? %>
        <div class="accordion accordion-flush" id="accordionFlush">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-heading<%= post.id %>">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse<%= post.id %>" aria-expanded="true" aria-controls="flush-collapse<%= post.id %>">
                Текст композиции
              </button>
            </h2>
            <div id="flush-collapse<%= post.id %>" class="accordion-collapse collapse" aria-labelledby="flush-heading<%= post.id %>">
              <div class="accordion-body"><pre><%= post.lyrics %></pre></div>
            </div>
          </div>
        </div>
      <% end %>
    

    <%= post.likes.count %>
    <div class="like-section">
      <i class="fas fa-heart post-like like-<%= post.id %> <%= 'active' if post_liked_by_user?(post.id)  %>" data-id="<%= post.id %>"></i>
    </div>

    </div>
  <% end %>

  <br/>
  

<%= link_to 'New Post', new_post_path %>
<% else %>
<%= link_to 'Register!', new_user_path %>
<% end %>